<html>
    <head>
        <title>List of users</title>
    </head>
    <body>
        <h2>Table of users (twig)</h2>
        <table border="2">
            {% for user in users %}
            <tr><td>{{user.first_name}}</td><td>{{user.email}}</td></tr>
            {% endfor %}
        </table>
    </body>
</html>